<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List App</title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
  </head>
  <body>
    <div id="layout">
      <h1 id="page-title">Grocery List</h1>

      <div id="storeList-L">
        <form>
          <div class="item">
            <input type="radio" name="store" value="target" checked>Target<br>
          </div>
          <div class="item">
            <input type="radio" name="store" value="wegmans" checked>Wegman's<br>
          </div>
        </form>
      </div>

      <div id="storeList-R">
        <% groceries.forEach( function ( product ){ %>
          <div class="item">
            <label> <%= product.name %> </label>
          </div>
        <% }); %>
      </div>

      <div id="priceList-R">
      <% groceries.forEach( function ( product ){ %>
        <div class="item-price">
          <label> $<%= product.price %> </label>
        </div>
      <% }); %>
      <div class="item-price"> $<%= total %> </div>
      </div>



    </div>
  </body>
</html>
                                         
