<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List App</title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <h1 id="page-title">Grocery List</h1>
    
    <!-- <iframe class="item-choice" id="itemChoices" width=200 style="display: none">
    </iframe> -->

    <div id="list">
      <div class="item-new">
        <input class="input" type="text" name="content" onkeydown="if (event.keyCode === 13) 
                                                              {
                                                                  addToFoodList(value);
                                                                  value = '';
                                                              }"/>
      </div>
      <div id = "itemsList">
      </div>
      <button id="findButton" class="find" type="button" onclick="findItems()" disabled=true title="Find the groceries.">Find</button>
    </div>

  <script>
    var foodList = [];
  
    var canvas = document.getElementById("canvas");
    
    window.addEventListener('mousedown', onMouseDown, false);
    
    function onMouseDown(event)
    {
        for	(j = 0; j < foodList.length; j++) {
            itemChoices = document.getElementById("itemChoices" + j);
            itemChoices.style.display = "none";
        }
    }
    
    //recreates the list on the page based on foodList
    //sets the correct state for find button
    function updatePage()
    {
        itemsListDiv = document.getElementById("itemsList");
            
        html = "";
        for	(i = 0; i < foodList.length; i++) {
            html += htmlForItem(foodList[i], i);
        }
        
        //alert(html);
        
        itemsListDiv.innerHTML = html;
        
        findButton = document.getElementById("findButton");
        findButton.disabled = (foodList.length === 0);
    }
    
    function addToFoodList(food)
    {
        if (food !== "")
        {
            foodList.push(food);
            
            updatePage();
        }
    }
    
    function updateFoodList(food, i)
    {
        if (food !== "")
        {
            foodList[i] = food;
            
            itemChoices = document.getElementById("itemChoices" + i);
            itemChoices.src = "/itemChoices?item=" + food;
        }
    }
    
    function deleteButtonClick(i)
    {
        foodList.splice(i, 1);
        
        updatePage();
    }
    
    function findItems()
    {
        location.href = "/findItems?item=" + foodList.join("&item=");
    }
    
    //opens a subpage which displays various options for the item selected in the list
    //and closes all others
    function openItemChoices(item, i)
    {
        for	(j = 0; j < foodList.length; j++) {
            itemChoices = document.getElementById("itemChoices" + j);
            itemChoices.style.display = "none";
        }
    
        itemChoices = document.getElementById("itemChoices" + i);
        itemChoices.style.display = "inline";
    }
    
    function htmlForItem(item, i)
    {
        return '<iframe class="item-choice" id="itemChoices' + i +
        '" src ="/itemChoices?item=' + item + '" style="display: none">' +
         '</iframe>' +
        '<div class="item" onclick="openItemChoices(\'' + item + '\',' + i + ')">' +
        '<input class="update-input" type="text" name="content" onKeyDown="updateFoodList(value,' + i + ')"' +
        'onInput="updateFoodList(value,' + i + ')" value="' + item + '" />' +
        '<button id=button"' + i +'" class="del-btn" type="button" onclick="deleteButtonClick('+ i + ')"  title="Delete this grocery item">Delete</button>' +
        '</div>'
    }
  </script>  
    
  </body>
</html>

