<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List App</title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <h1 id="page-title">Grocery List</h1>
    
    <!-- <iframe class="item-choice" id="itemChoices" width=200 style="display: none">
    </iframe> -->

    <div id="list">
      <div class="item-new">
        <input class="input" type="text" name="content" onkeydown="if (event.keyCode === 13) 
                                                              {
                                                                  addToFoodList(value);
                                                                  value = '';
                                                              }"/>
      </div>
      <div id = "itemsList">
      </div>
      <button id="findButton" class="find" type="button" onclick="findItems()" disabled=true title="Find the groceries.">Find</button>
    </div>

  <script>
    var foodList = [];
  
    var _nextId = 0;
  
    var canvas = document.getElementById("canvas");
    
    window.addEventListener('mousedown', onMouseDown, false);
    
    function onMouseDown(event)
    {
        for	(j = 0; j < foodList.length; j++) {
            itemChoices = document.getElementById("itemChoices" + j);
            itemChoices.style.display = "none";
        }
    }
    
    function autoFindButtonDisabled()
    {
        findButton = document.getElementById("findButton");
        findButton.disabled = (foodList.length === 0);
    }
    
    //adds a new food to the list, and assigns it a unique id
    function addToFoodList(food)
    {
        if (food !== "")
        {
            newItem = { "id": getNewUniqueId(),
                        "name": food};
        
            foodList.push(newItem);
            
            itemsListDiv = document.getElementById("itemsList");

            div = document.createElement("div");
            div.id = "item" + newItem.id;
            div.innerHTML = htmlForItem(newItem.name, newItem.id);

            itemsListDiv.insertBefore(div);
        }
        
        autoFindButtonDisabled();
    }
    
    //updates the name of an existing item
    function updateFoodList(food, i)
    {
        if (food !== "")
        {
            foodList[i].name = food;
            
            itemChoices = document.getElementById("itemChoices" + i);
            itemChoices.src = "/itemChoices?item=" + food;
        }
    }
    
    //removes an item from the food list
    function deleteButtonClick(i)
    {
        //find where in foodList the item being deleted is
        foodListLoc = -1;
        for	(j = 0; j < foodList.length; j++)
        {
            if (foodList[j].id === i)
            {
                foodListLoc = j;
                break;
            }
        }
        foodList.splice(foodListLoc, 1);

        item = document.getElementById("item" + i);
        itemListDiv = document.getElementById("itemsList");
        itemListDiv.removeChild(item);
        
        autoFindButtonDisabled();
    }
    
    function findItems()
    {
        location.href = "/findItems?item=" + foodList.join("&item=");
    }
    
    //returns a unique int
    function getNewUniqueId()
    {
        return _nextId++;
    }
    
    //opens a subpage which displays various options for the item selected in the list
    //and closes all others
    function openItemChoices(i)
    {
        for	(j = 0; j < foodList.length; j++) {
            itemChoices = document.getElementById("itemChoices" + foodList[j].id);
            itemChoices.style.display = "none";
        }

        itemChoices = document.getElementById("itemChoices" + i);
        itemChoices.style.display = "inline";
    }
    
    function htmlForItem(item, i)
    {
        return '<iframe class="item-choice" id="itemChoices' + i +
        '" src ="/itemChoices?item=' + item + '" style="display: none">' +
         '</iframe>' +
        '<div class="item" onclick="openItemChoices(' + i + ')">' +
        '<input class="update-input" type="text" name="content" onKeyDown="updateFoodList(value,' + i + ')"' +
        'onInput="updateFoodList(value,' + i + ')" value="' + item + '" />' +
        '<button id=button"' + i +'" class="del-btn" type="button" onclick="deleteButtonClick('+ i + ')"  title="Delete this grocery item">Delete</button>' +
        '</div>'
    }
  </script>  
    
  </body>
</html>

