<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List App</title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <h1 id="page-title">Grocery List</h1>

    <div id="list">
      <div class="item-new">
        <input class="input" type="text" name="content" onkeydown="if (event.keyCode === 13) 
                                                              {
                                                                  addToFoodList(value);
                                                                  value = '';
                                                              }"/>
      </div>
      <div id = "itemsList">
      </div>
    </div>

  <script>
    var foodList = [];
  
    var canvas = document.getElementById("canvas");
    
    //recreates the list on the page based on foodList
    function updatePage()
    {
        itemsListDiv = document.getElementById("itemsList");
            
        html = "";
        for	(i = 0; i < foodList.length; i++) {
            html += htmlForItem(foodList[i], i);
        }
            
        itemsListDiv.innerHTML = html;
    }
    
    function addToFoodList(food)
    {
        if (food !== "")
        {
            foodList.push(food);
            
            updatePage();
        }
    }
    
    function updateFoodList(food, i)
    {
        if (food !== "")
        {
            foodList[i] = food;
        }
    }
    
    function deleteButtonClick(i)
    {
        foodList.splice(i, 1);
        
        updatePage();
    }
    
    function htmlForItem(item, i)
    {
        return '<div class="item">' +
        '<input class="update-input" type="text" name="content" onKeyDown="updateFoodList(value,' + i + ')"' +
        'onInput="updateFoodList(value,' + i + ')" value="' + item + '" />' +
        '<button id=button"' + i +'" class="del-btn" type="button" onclick="deleteButtonClick('+ i + ')"  title="Delete this grocery item">Delete</a>' +
        '</div>'
    }
  </script>  
    
  </body>
</html>

