html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font: 14px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#page-title {
  color: #666666;
  background-color: #f8f8f8;
  font-size: 32px;
  line-height: 1.35;
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 1px 1px white;
}

.del-btn, .del-btn-edit {
  border:0px;
  display: inline;
  float: right;
  background: url("/images/delete.png") no-repeat bottom left;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 16px;
  height: 18px;
  border-radius: 5px;
}

.del-btn:hover {
  background-color: #ffb2b2
}

#list {
  border:1;
  width: 750px;
  margin: auto;
  padding: 20px 0 15px;
  position: relative;
}

#storeList-L {
  border:1;
  width: 200px;
  margin: auto;
  padding: 20px 0 15px;
  position: relative;
  float: left;
}

#storeList-R {
  border:1;
  width: 200px;
  margin: auto;
  padding: 20px 0 15px;
  position: relative;
  float: left;
  margin-left: 100px;
}

.find {
    margin-left: 200px;
    clear: left;
    display:inline;
}

.add {
    position: relative;
    float: right;
}

.item, .item-new, .item-choice {
  overflow: hidden;
  *zoom: 1;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  border-radius: 6px 6px 6px 6px;
  list-style: none outside none;
  padding: 8px 9px 9px 9px;
  position: relative;
  text-shadow: 1px 1px 0 white;
  width: 250px;
  height: 24px;
  clear: left;
}

.item:hover, .item-new:hover, .item-choice:hover {
  border-color: #9be0f9;
  box-shadow: 0 0 5px #a6d5fd;
}

.item-new {
  padding: 4px 5px;
  width: 308px;
  height: 27px;
}

.item, .item-new {
  margin-left: 200px;
  margin-bottom: 4px;
}

.item-choice {
  height: 500px;
  float: right;
}

.input, .update-input {
  border: 1px solid #cccccc;
  color: #666666;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 15px;
  padding: 3px 4px;
  width: 248px;
  height: 19px;
}

.update-input {
  background: transparent;
  border: 0px;
  width: 210px;
}

.update-input:focus {
  background:#ffffff;
}

html, body {
  height: 100%;
}

#layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -48px;
}
